<h1>{{"Sudoku" | uppercase}}</h1>

<div>
  <label>Sudoku-app Optionen: {{brett.compsum}} (Ziel: 81) </label>
  <button type="button" class="but99" (click)="resethandler()">Reset</button>
  <button type="button" class="but99" (click)="fixithandler()">Fixit</button>
  <select (change)="beispielhandler()" [(ngModel)]="brett.beispielidx">
    <option *ngFor="let b of brett.beispiele; let i=index" [ngValue]="i">{{i}}</option>
  </select>
  <button type="button" class="but99" title="1. Versteckter Single" (click)="L1handler()">L1</button>
  <button type="button" class="but99" title="2. Nackter Single" (click)="L2handler()">L2</button>
  <button type="button" class="but99" title="3. Nacktes Paar" (click)="L3handler()">L3</button>
  <button type="button" class="but99" title="4. Verstecktes Paar" (click)="L4handler()">L4</button>
  <button type="button" class="but99" title="5. Nackter Dreier" (click)="L5handler()">L5</button>
  <button type="button" class="but99" title="6. Versteckter Dreier" (click)="L6handler()">L6</button>
  <button type="button" class="but99" title="Anzahl Lösungen" (click)="L99handler()">L99</button>
  <label *ngIf="brett.conflict">Fehler!!!</label>
  <br>
</div>

<table>
  <tbody>
    <tr>
      <td>Eingabe:</td>
      <td>
        <!-- <label for="sinput">Sudoku Text 0..9, blank, 81 Stück:</label> -->
        <input type="text" id="sinput" name="sinput" minlength="4" maxlength="92" size="92" [(ngModel)]="brett.sinput"
          (ngModelChange)="sinputngModelChange($event)">
      </td>
    </tr>
    <tr>
      <td>Vorgabe:</td>
      <td>{{brett.vorgabe}}</td>
    </tr>
    <tr>
      <td>Iststand:</td>
      <td>{{brett.iststand}}</td>
    </tr>
    <tr>
      <td>Worker:</td>
      <td>{{brett.anzloesungen}}</td>
    </tr>
  </tbody>
</table>

<span *ngFor="let fld of brett.felder">
  <span *ngIf="fld.col === 0" class="br0"><br></span>
  <span *ngIf="fld.col === 0 && (fld.row%3  === 0)" class="br0"><br></span>
  <span *ngIf="fld.col === 3 || fld.col === 6">&nbsp;</span>
  <app-feld [f]="fld"></app-feld>
</span>